* {
	font-family: "Open Sans",Arial;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: url('../imagenes/fondo-textura.jpg') rgba(131, 145, 146 ,.1) ;
	font-family: "Open Sans",Sans-serif;
	font-size: 16px;
}

/*------------------------------HEADER--------------------*/


header .contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	background: url('../imagenes/fondo-gris.jpg') rgb(199, 191, 207);
	background-size: cover;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
header .contenedor .titulo-banco{
	font-family:  Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: rgb(9, 11, 12);
	margin: 20px 50px;
}
header .contenedor .btn-s{
	padding: 15px 20px;
	margin: 12px;
}
header .contenedor span{
	margin-left: 15px;
	font-size: 20px;
}
/*--------------------------------------------*/
.user {
	margin-top: 20px;
}
.user .contenedor-up{
	background: rgb(162, 161, 167);
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 10px;

}
.informacion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	background: rgba(248, 245, 245, 0.836);
	border-radius: 15px;
	padding: 10px 20px;
	margin: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.titulo-cuenta,
.titulo-Monto
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: #196072;
}
.valor-cuenta,
.valor-Monto
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.3);

}
.valor-cuenta{
	margin-top: 0px;
}
.valor-Monto{
	margin-bottom: 5px;
}
.titulo-micuenta{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #f0f0f7;
	text-align: left;
	display: block;
	margin: 15px;
}




/*------------------------------MAIN--------------------*/
.main {
	background: url('../imagenes/fondo-textura.jpg') #FBF2EF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.main .transaccion-tabla {
	width: 70%;
	margin: auto;
}


.main .contenedor-center{
	background: rgb(162, 161, 167);
	padding: 30px;

}

/*-------------------------------------------CONTENEDOR CENTER------------------------------------------*/
/*--------------------------CONTENEDOR CENTER-UP---------------------*/
.main .transaccion-tabla .transaccion .transaccion-pago{
	overflow: hidden;
	background: rgb(162, 161, 167);
}
.main .transaccion-tabla .transaccion .transaccion-pago .contenedor-center .contenedor-center-up .titulo-transaccion-pago{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #fbfaff;
	text-align: left;
	display: block;
	border-bottom: 2px solid rgba(131, 145, 146 ,.7);
}
.main .transaccion-tabla .transaccion .transaccion-pago .contenedor-center .contenedor-center-up .formulario .datos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input-nota{
	display: block;
	height: 32px;
	padding: 5px;
}
.input-costo{
	display: block;
	height: 32px;
	padding: 5px;
}
.main .transaccion-tabla .transaccion .transaccion-pago .contenedor-center
.contenedor-center-up .formulario .btn-p {
	display: block;
	padding: 8px 5px;
	margin-top: 15px;
	float: right;
	background: rgb(25, 25, 54);
	border-radius: 10px;
	border-color: rgb(25, 25, 54);
}
.main .transaccion-tabla .transaccion .transaccion-pago .contenedor-center
.contenedor-center-up .formulario .btn-p:hover{
	background: rgb(65, 44, 97);
	border-color: rgb(25, 25, 54);
	color: #fff;
}
/*--------------------------CONTENEDOR CENTER-DOWN--------------------*/
.main .tabla .contenedor-center .contenedor-center-down {
	overflow: hidden;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .titulo-tabla{
	font-size: 20px;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container {
	overflow-x: auto;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tablaGastos{
	min-width: 824px;
	width: 100%;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container table {
	background-color: white;
	text-align:	center;
	border-collapse: collapse;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container th, td{
	padding: 2%;
}
.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container thead{
	background-color: #322046;
	border-bottom: 5px solid rgb(26, 13, 100);
	color: white;
}

.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container tr:nth-child(even){
	background-color: #ddd;
}

.main .tabla .contenedor-center .contenedor-center-down .fomulario-tabla .tabla-container tr:hover td{
	background-color: #767bb1d5;
	color: white;
}
.titulo-input-cuenta,
.titulo-costo{
	font-size: 25px;
}