* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background: url("../imagenes/fondo-nuevo.jpg");
    color:#fff;

}

.contenedor{
    background: #fff;
    width: 50%;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
.contenedor header{
    background: url("../imagenes/fondo-tarjeta1.jpg");

    width: 100%;
    height: 160px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor header h1{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #fff;
}
.contenedor .main{
    color: #000;
    padding: 25px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor .main .user,
.contenedor .main .password{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.contenedor .main button{
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
}

.contenedor .main .user input,
.contenedor .main .password input{
    border:  none;
    margin-top: 5px;
    border-bottom: 2px solid rgba(13, 173, 173, 0.788);
    width: 60%;
}


.contenedor .main .btn-p {

    color: #fff;
    background: rgba(35, 4, 71, 0.658);
    border-color:  rgba(35, 4, 71, 0.658);
    border-radius: 20px;
}
.contenedor .main .btn-p:hover{
    color: rgba(35, 4, 71, 0.658);
    background: #fff;
}
